MARIA_DB_NAME=
MARIA_DB_USER=
MARIADB_TLS_DISABLE_PEER_VERIFICATION=1

MARIA_DB_BACKUP_USER=

WP_ADMIN_USER=
WP_ADMIN_EMAIL=
DB_HOST=

WP_USER=
WP_USER_EMAIL=

DOMAIN_NAME=
ZOLA_URL=
ZOLA_DIR=/data

ADMINER_DEFAULT_SERVER=mariadb